server:
  port: 1000
  error:
    include-message: always
    include-binding-errors: always

spring:
  application:
    name: orders-api-gateway
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      username: ${REDIS_USERNAME:}
      password: ${REDIS_PASSWORD:}
      ssl:
        enabled: ${REDIS_SSL:false}
  config:
    import: optional:consul:/
  cloud:
    consul:
      host: ${SPRING_CLOUD_CONSUL_HOST:localhost}
      port: ${SPRING_CLOUD_CONSUL_PORT:8500}
      discovery:
        enabled: ${SPRING_CLOUD_CONSUL_DISCOVERY_ENABLED:true}
        instance-id: ${spring.application.name}:${random.value}
        health-check-path: /actuator/health
        health-check-interval: 10s
        prefer-ip-address: true
        hostname: ${HOSTNAME:localhost}
        service-name: ${spring.application.name}
    gateway:
      server:
        webflux:
          routes:
            - id: gateway-oauth-route
              uri: lb://gateway
              predicates:
                - Path=/oauth/**
            - id: orders-api-route
              uri: lb://orders-api-service
              predicates:
                - Path=/api/**
              filters:
                - RewritePath=/api/(?<remaining>.*), /api/${remaining}
                - name: CircuitBreaker
                  args:
                    name: services
                    fallbackUri: forward:/fallback

resilience4j:
  circuitbreaker:
    instances:
      services:
        wait-duration-in-open-state: 10s
        failure-rate-threshold: 60
        slow-call-duration-threshold:
          - 2s
        minimum-number-of-calls: 3
        permitted-number-of-calls-in-half-open-state: 1

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info

frontend:
  url:
    ${FRONTEND_URL}

oauth:
  google:
    clientId: ${OAUTH_GOOGLE_CLIENT_ID}
    clientSecret: ${OAUTH_GOOGLE_CLIENT_SECRET}
    scope: ${OAUTH_GOOGLE_SCOPE:openid email profile}

logging:
  level:
    com.halmber.ordersapigateway: INFO
    org.springframework.cloud.gateway: DEBUG
    org.springframework.cloud.consul: DEBUG